@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "tailwindcss";

/* note: tailwind.config.js file is totally deprecated in v4. 
and the official docs doesn't even mention it.
*/

@theme {
  /* note: made breakpoints same as mui. but angular is more accurate. */
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, "Inter", "Helvetica Neue", Arial, sans-serif);
  --font-mono: var(--font-geist-mono, "SFMono-Regular", Consolas, "Liberation Mono", monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
}

.muis-icon-filled {
  font-family: var(--font-muis-filled);
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}