@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1");
@import "tailwindcss";

/* note: tailwind.config.js file is totally deprecated in v4. 
and the official docs doesn't even mention it.
*/

@theme {
  /* note: made breakpoints same as mui. but angular is more accurate. */
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #171717;
  --foreground: white;
}

@theme inline {
  --bg: var(--background);
  --fg: var(--foreground);
  --font-sans: var(
    --font-geist-sans,
    "Inter",
    "Helvetica Neue",
    Arial,
    sans-serif
  );
  --font-mono: var(
    --font-geist-mono,
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    monospace
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
}

.muis-icon-filled {
  /* font-family: var(--font-muis-filled); */
  /* font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48; */
  font-variation-settings: "FILL" 1;
}
