@keyframes pulseHeightForOrderTimeline {
  0%  { height: 0; display: 'block'; }
  100% { height: 35px; display: 'hidden'; }
}

@keyframes imageMoving{
    0% { transform: translateY(0px); }
    50% { transform: translateY(8px); }
    100% { transform: translateY(0px); }
}